<div class="about-container">
  <div class="about-title">ABOUT</div>
  <div class="about-content">
    <div class="about-content-title">Our story</div>
    <div class="about-content-sections">
      <div class="section-1">
        <picture>
          <source
            srcset="../../../../assets/images/about-picture-1.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="../../../../assets/images/about-picture-1-1.png"
            media="(min-width: 801px) and (max-width: 1279px)"
          />
          <img src="../../../../assets/images/about-picture-1-2.png" />
        </picture>
        <div>
          Lily smith <br />
          <span>Owner </span>
        </div>
      </div>
      <div class="section-2">
        <div>
          Our Blooms was founded in honor of Lily Smith's loving aunts, Teresa
          and Beth.
        </div>
      </div>
      <div class="section-3">
        <picture>
          <source
            srcset="../../../../assets/images/about-picture-2.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="../../../../assets/images/about-picture-2-1.png"
            media="(min-width: 801px) and (max-width: 1279px)"
          />
          <img src="../../../../assets/images/about-picture-2-2.png" />
        </picture>
        <picture>
          <source
            srcset="../../../../assets/images/about-picture-3.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="../../../../assets/images/about-picture-3-1.png"
            media="(min-width: 801px) and (max-width: 1279px)"
          />
          <img src="../../../../assets/images/about-picture-3-2.png" />
        </picture>
        <picture>
          <source
            srcset="../../../../assets/images/about-picture-4.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="../../../../assets/images/about-picture-4-1.png"
            media="(min-width: 801px) and (max-width: 1279px)"
          />
          <img src="../../../../assets/images/about-picture-4-2.png" />
        </picture>
      </div>
      <div class="section-4">
        <div>
          Lily's journey with flowers began in the heart of Oregon, amidst the
          flourishing fields of her aunts' flower farm. It was there, surrounded
          by the abundance of nature, that she discovered her passion for floral
          design. From learning the names of each bloom to understanding the
          delicate balance of a bouquet, she absorbed the artistry of flowers
          like the rich Oregon soil. Bloom & Co. is the expression of that
          lifelong passion, a place where her love for flowers translates into
          beautifully curated arrangements that bring joy and elegance to your
          spaces.
        </div>
        <picture>
          <source
            srcset="../../../../assets/images/about-picture-5.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="../../../../assets/images/about-picture-5-1.png"
            media="(min-width: 801px) and (max-width: 1279px)"
          />
          <img src="../../../../assets/images/about-picture-5-2.png" />
        </picture>
        <div>
          From humble beginnings, Bloom&Co has grown into a beloved local
          destination, known for its artistic arrangements, personal service,
          and commitment to quality. Discover how we can add a touch of natural
          beauty to your next event.
        </div>
        <dx-button text="BOOK A CONSULTATION"></dx-button>
      </div>
    </div>
  </div>
</div>
